<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/open-fonts@1.1.1/fonts/inter.min.css" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"
  />
  <link
    rel="stylesheet"
    href="/css/styles.css"
  />
  <link rel="icon" type="image/png" href="./assets/lucia-icon.png" />
  <title><%= title %> | KBowl</title>
</head>
