<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <div id="app">
      <div l-for="test in tests">
        <p l-text="this.test"></p>
      </div>

      <h1>Room Code: <code l-text="mad"></code></h1>
      <details>
        <summary>Leaderboard</summary>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Score</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="team">
            <tr>
              <td>lol</td>
              <td>lol</td>
              <td><button>Edit</button><button>Delete</button></td>
            </tr>
          </tbody>
        </table>
      </details>
      <h3>Time: <span l-text="lol"></span></h3>
      <details>
        <summary>Entries</summary>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Time</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody l-for="entry in entries">
            <tr>
              <td l-text="this.entry.teamName"></td>
              <td l-text="this.entry.date"></td>
            </tr>
          </tbody>
        </table>
      </details>
    </div>
    <script>
      const id = '<%= id %>';
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"
      integrity="sha512-oFOCo2/3DtjrJG4N27BjSLQWoiBv171sK6a+JiWjp/7agxC2nCUP358AqzxkBUb5jX8g6CYLPdSKQTbC0weCwA=="
      crossorigin="anonymous"
    ></script>
    <script src="/js/lucia.min.js"></script>
    <script src="/js/host.js"></script>
  </body>
</html>
