<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <div id="app">
      <h1>Room Code: <code l-text="mad"></code></h1>
      <details>
        <summary>Leaderboard</summary>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Score</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="team">
            <tr>
              <td>lol</td>
              <td>lol</td>
              <td><button>Edit</button><button>Delete</button></td>
            </tr>
          </tbody>
        </table>
      </details>
      <h3>Time: <span l-text="lol"></span></h3>
      <details>
        <summary>Entries</summary>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Time</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="entries"></tbody>
        </table>
      </details>
    </div>
  </body>
</html>
