<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <div id="app">
      <%- include('./partials/header.ejs') %>
      <h1>Room Code: <code l-text="mad"></code></h1>
      <details>
        <summary>Leaderboard</summary>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Score</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody l-for="team in leaderboard">
            <tr>
              <td l-text="this.team[0]"></td>
              <td l-text="this.team[1]"></td>
              <td><button>Edit</button><button>Delete</button></td>
            </tr>
          </tbody>
        </table>
      </details>
      <h3>Time: <span l-text="lol"></span></h3>
      <details>
        <summary>Entries</summary>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Time</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody l-for="entry in entries">
            <tr>
              <td l-text="this.entry.teamName"></td>
              <td l-text="this.entry.date"></td>
              <td><button>True</button> <button>False</button></td>
            </tr>
          </tbody>
        </table>
      </details>
    </div>
    <script>
      const id = '<%= id %>';
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"
      integrity="sha512-oFOCo2/3DtjrJG4N27BjSLQWoiBv171sK6a+JiWjp/7agxC2nCUP358AqzxkBUb5jX8g6CYLPdSKQTbC0weCwA=="
      crossorigin="anonymous"
    ></script>
    <script src="/js/lucia.min.js"></script>
    <script src="/js/host.js"></script>
  </body>
</html>
