<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/open-fonts@1.1.1/fonts/inter.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"
    />
  </head>

  <body>
    <header>
      <h1>KBowl</h1>
      <p>Virtual Knowledge Bowl</p>
    </header>
    <div l-state="{ step: 0, code: '', checked: false }">
      <div>
        <button @click="step = 1">I am a participant</button>
        <button @click="step = 2">I am a host</button>
      </div>
      <div :hidden="step !== 1">
        <input l-model="code" />
        <button>Join Room</button>
      </div>
      <div :hidden="step !== 2">
        <p>
          <input type="checkbox" @click="checked = !checked" /> I am a teacher or an assigned host
          and I agree by checking this box I am using this for a competition.
        </p>
        <button :disabled="!checked" @click="alert(1)">Create Room</button>
      </div>
    </div>

    <script src="./js/lucia.min.js"></script>
  </body>
</html>
