<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" href="./assets/lucia-icon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/open-fonts@1.1.1/fonts/inter.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"
    />
    <title>Host | KBowl</title>
  </head>
  <body>
    <div id="app">
      <form @submit.prevent="join()" :hidden="joined">
        <p>Enter team name:</p>
        <input l-model="teamName" />
        <button>Join Team</button>
      </form>

      <div :hidden="!joined">
        <h1 l-text="teamName"></h1>
        <p>Ping: <kbd>0ms</kbd></p>
        <p>Code: <kbd>AAAAA</kbd></p>
        <button>Buzz</button>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"
      integrity="sha512-oFOCo2/3DtjrJG4N27BjSLQWoiBv171sK6a+JiWjp/7agxC2nCUP358AqzxkBUb5jX8g6CYLPdSKQTbC0weCwA=="
      crossorigin="anonymous"
    ></script>
    <script src="/js/lucia.min.js"></script>
    <script src="./ts/team.js"></script>
  </body>
</html>
