<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <div id="app">
      <form @submit.prevent="join()" :hidden="joined">
        <p>Enter team name:</p>
        <input l-model="teamName" />
        <button>Join Team</button>
      </form>

      <div :hidden="!joined">
        <h1 l-text="teamName"></h1>
        <p>Ping: <kbd>0ms</kbd></p>
        <p>Code: <kbd>AAAAA</kbd></p>
        <button>Buzz</button>
      </div>
    </div>
  </body>
</html>
