/* .agreement {
    margin: 20px 0 20px 0;
}

.join {
    margin: 20px 0 20px 0;
}

.check-label {
    font-weight: bold;
}

[l-mask] {
  display: none;
}
html {
  transform: rotate(90deg);
  filter: invert(1);
} */
